<?xml version="1.0" encoding="utf-8" ?>

<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="app.menu.account_menu_listener" class="BitBag\SyliusMolliePlugin\Menu\MollieLoggerMenuListener">
            <tag name="kernel.event_listener" method="buildMenu" event="sylius.menu.admin.main" />
        </service>
    </services>
</container>
