<?xml version="1.0" encoding="utf-8" ?>

<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="bitbag_sylius_mollie_plugin.menu.mollie_menu_listener" class="BitBag\SyliusMolliePlugin\Menu\MollieMenuListener">
            <tag name="kernel.event_listener" method="buildMenu" event="sylius.menu.admin.main" />
        <service id="bitbag_sylius_mollie_plugin.menu.order_show_menu_listener" class="BitBag\SyliusMolliePlugin\Menu\AdminOrderShowMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.admin.order.show" method="addPaymentlinkButton" />
        </service>
        <service id="bitbag_sylius_mollie_plugin.menu.mollie_email_template_menu_listener" class="BitBag\SyliusMolliePlugin\Menu\MollieEmailTemplateMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.admin.main" method="buildMenu" />
        </service>
    </services>
</container>
