/bin/*
!/bin/.gitkeep

/vendor/
/node_modules/
/composer.lock

/src/Resources/public/bitbag/manifest.json
/src/Resources/public/bitbag/mollie/admin.js.LICENSE.txt
/public/bitbag/entrypoints.json

/etc/build/*
!/etc/build/.gitkeep

/tests/Application/yarn.lock

/public
