version: '3.4'

services:
  php:
    build:
      context: .
      target: root_php
    depends_on:
      - mysql
    environment:
      - APP_ENV=dev
      - APP_DEBUG=1
      - APP_SECRET=EDITME
      - DATABASE_URL=mysql://sylius:nopassword@mysql/sylius
      - PHP_DATE_TIMEZONE=${PHP_DATE_TIMEZONE:-UTC}
    volumes:
      - .:/var/www:rw
      - ./tests/Application/public/media:/var/www/tests/Application/public/media:rw

  mysql:
    image: percona:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-nopassword}
      - MYSQL_DATABASE=sylius
      - MYSQL_USER=sylius
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-nopassword}
    volumes:
      - mysql-data:/var/lib/mysql:rw
      # - ./docker/mysql/data:/var/lib/mysql:rw,delegated
    ports:
      - "3306:3306"

  nodejs:
    build:
      context: .
      target: nodejs
    environment:
      PHP_HOST: php
      PHP_PORT: 9000
    depends_on:
      - php
    volumes:
      - .:/var/www:rw

  nginx:
    build:
      context: .
      target: nginx
    depends_on:
      - php
      - nodejs # to ensure correct build order
    volumes:
      - ./tests/Application/public:/var/www/tests/Application/public:ro
    ports:
      - "80:80"

volumes:
  mysql-data:
  public-media:
