{% if payment_method is defined and payment_method.gatewayConfig.factoryName == mollie %}
  <nav
    aria-hidden="false"
    aria-label="onboarding wizard"
    class="onboarding-wizard js-onboarding-wizard"
    role="navigation"
  >
    <div class="onboarding-wizard__logo">
      {% include '@SyliusUi/OnboardingWizard/_logo.html.twig' %}
    </div>

    <ul class="onboarding-wizard__steps">
      <li class="onboarding-wizard__step js-onboarding-wizard-progress" data-navigation-step="intro">
        <i class="onboarding-wizard__check icon check circle"></i>

        <span class="onboarding-wizard__name">
          {{ 'sylius_mollie_plugin.onboardingMollie.step_nav.1'|trans }}
        </span>

        <i class="onboarding-wizard__arrow icon angle right"></i>
      </li>

      <li class="onboarding-wizard__step js-onboarding-wizard-progress" data-navigation-step="api-settings">
        <i class="onboarding-wizard__check icon check circle"></i>

        <span class="onboarding-wizard__name">
          {{ 'sylius_mollie_plugin.onboardingMollie.step_nav.2'|trans }}
        </span>

        <i class="onboarding-wizard__arrow icon angle right"></i>
      </li>

      <li class="onboarding-wizard__step js-onboarding-wizard-progress" data-navigation-step="store-settings">
        <i class="onboarding-wizard__check icon check circle"></i>

        <span class="onboarding-wizard__name">
          {{ 'sylius_mollie_plugin.onboardingMollie.step_nav.3'|trans }}
        </span>

        <i class="onboarding-wizard__arrow icon angle right"></i>
      </li>

      <li class="onboarding-wizard__step js-onboarding-wizard-progress" data-navigation-step="payment-settings">
        <i class="onboarding-wizard__check icon check circle"></i>

        <span class="onboarding-wizard__name">
          {{ 'sylius_mollie_plugin.onboardingMollie.step_nav.4'|trans }}
        </span>
      </li>
    </ul>
  </nav>
{% endif %}
