<div class="ui message">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="header">
                Developed by BitBag Sp. z o.o.
            </div>
            <p>You can find more information about us on <a href="https://bitbag.io">https://bitbag.io</a></p>
        </div>
        <div class="eight wide column">
            <h2 class="ui header aligned right">
                <a href="https://www.mollie.com/dashboard/login?lang=en" class="ui image">
                    <img src="https://images.ctfassets.net/k4kk06v59kf0/5WfNYahm6s4W2aqOsUsM0y/93db1c43d56b2a073dae1faa44410619/og-image-mollie.png"
                         class="ui image">
                </a>
            </h2>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column">
            <i class="share square icon"></i>
            <a class="native-link" href="https://github.com/BitBagCommerce/SyliusMolliePlugin">
                Visit the Sylius bundle
            </a>
        </div>
        <div class="four wide column">
            <i class="life ring icon"></i>
            <a class="native-link" href="https://bitbag.io/contact-us/">
                Contact Bitbag
            </a>
        </div>
        <div class="four wide column">
            <i class="envelope icon"></i>
            <a class="native-link" href="https://www.mollie.com/en/contact">
                Contact Mollie
            </a>
        </div>
        <div class="four wide column">
            <i class="info icon"></i>
            <a class="native-link" href="https://help.mollie.com/hc/en-us">
                More info on Mollie
            </a>
        </div>
    </div>
</div>
