<div class="ui icon yellow message sylius-flash-message">
    <i class="close icon"></i>
    <i class="exclamation icon"></i>
    <div class="content">
        <div class="header">
            {{ 'bitbag_sylius_mollie_plugin.ui.info'|trans }}
        </div>
        <p>
            {{ 'bitbag_sylius_mollie_plugin.ui.latest_version_info'|trans({'{old_version}': currentVersion, '{latest_version}': latestVersion}) }}
            <a href="https://github.com/BitBagCommerce/SyliusMolliePlugin">{{ 'bitbag_sylius_mollie_plugin.ui.update'|trans }}</a>
            {{ 'bitbag_sylius_mollie_plugin.ui.enjoy_latest_version'|trans }}
        </p>
    </div>
</div>
