{% if product.isConfigurable() and not product.enabledVariants.empty() %}
    {% if product.getVariantSelectionMethod() == 'match' %}
        {% include '@SyliusMolliePlugin/Shop/Product/_variantRecurringMatch.html.twig' %}
        {% include '@SyliusMolliePlugin/Shop/Product/_variantRecurringMatchDetails.html.twig' %}
    {% endif %}
    {% if product.getVariantSelectionMethod() == 'choice' %}
        {% include '@SyliusMolliePlugin/Shop/Product/_variantRecurringChoice.html.twig' %}
        {% include '@SyliusMolliePlugin/Shop/Product/_variantRecurringChoiceDetails.html.twig' %}
    {% endif %}
{% endif %}

{% include "@SyliusMolliePlugin/Shop/_partial/_recurringTranslations.html.twig" %}

<div class="ui hidden divider"></div>
