<div class="ui stackable grid">
    <div class="twelve wide column">
        {{ sylius_template_event('sylius_mollie_plugin_mollie.admin.mollie_subscription.show.contents', _context) }}
    </div>
    <div class="four wide column">
        {{ sylius_template_event('sylius_mollie_plugin_mollie.admin.mollie_subscription.show.sidebar', _context) }}
    </div>
</div>
