{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        {{ 'bitbag_sylius_mollie_plugin.ui.subscription.block_name'|trans ~' #'~ ('0000000' ~ mollie_subscription.id) }}
        <div class="sub header">
            <div class="ui horizontal divided list">
                <div class="item" id="sylius-order-state">
                    {% include "@BitBagSyliusMolliePlugin/Admin/MollieSubscription/_partial/_state.html.twig" with {data: mollie_subscription.state} only %}
                </div>
                <div class="item" id="sylius-order-state">
                    {% include "@BitBagSyliusMolliePlugin/Admin/MollieSubscription/_partial/_payment_state.html.twig" with {data: mollie_subscription.paymentState} only %}
                </div>
                <div class="item">
                    {{ 'bitbag_sylius_mollie_plugin.ui.subscription.subscription_duration' | trans({
                        '%times%': mollie_subscription.subscriptionConfiguration.numberOfRepetitions,
                        '%interval%': mollie_subscription.subscriptionConfiguration.interval
                    }) }}
                </div>
                <div class="item">
                    <strong>{{ mollie_subscription.orders | length }} / {{ mollie_subscription.subscriptionConfiguration.numberOfRepetitions }}</strong>
                </div>
            </div>
        </div>
    </div>
</h1>
