<div class="ui segment" style="overflow-x: auto;">
    <h4 class="ui dividing header">{{ 'bitbag_sylius_mollie_plugin.ui.subscription.orders'|trans }}</h4>
    {% include '@BitBagSyliusMolliePlugin/Admin/MollieSubscription/Show/_orders.html.twig' %}
</div>
