{% set graph = constant("BitBag\\SyliusMolliePlugin\\Transitions\\MollieRecurringTransitions::GRAPH_MANUAL") %}
{% set state_to_icons_map = {
    pause: 'pause',
    resume: 'forward',
    cancel: 'stop circle'
} %}
{% set state_to_colors_map = {
    pause: 'violet',
    resume: 'blue',
    cancel: 'red'
} %}
<div class="ui segment" id="payment-state">
    {% include "@BitBagSyliusMolliePlugin/Admin/MollieSubscription/_partial/_state.html.twig" with {data: mollie_subscription.state, attached: true} only %}
    <h3 class="ui dividing header">{{ 'bitbag_sylius_mollie_plugin.ui.subscription.transitions.block_name'|trans }}</h3>
    <div class="ui relaxed divided list" id="sylius-transitions">
        <div class="ui form" id="mollie-subscription-transitions">
            {% for transition in sm_possible_transitions(mollie_subscription, graph) %}
                {% include "@SyliusUi/Grid/Action/applyTransition.html.twig" with {
                    data: mollie_subscription,
                    options: {
                        transition: transition,
                        graph: graph,
                        link: {
                            route: 'bitbag_sylius_mollie_plugin_mollie_subscription_' ~ transition,
                            parameters: {
                                id: mollie_subscription.id
                            }
                        },
                        class: state_to_colors_map[transition] | default('blue'),
                    },
                    action: {
                        label: 'bitbag_sylius_mollie_plugin.ui.subscription.transitions.' ~ transition,
                        icon: state_to_icons_map[transition] | default('')
                    }
                } %}
            {% endfor %}
        </div>
    </div>
</div>
