<div class="ui segment" style="overflow-x: auto;">
    <h4 class="ui dividing header">{{ 'bitbag_sylius_mollie_plugin.ui.subscription.contents'|trans }}</h4>
    {% include '@BitBagSyliusMolliePlugin/Admin/MollieSubscription/Show/_subscriptionContents.html.twig' %}
</div>
