<div class="ui segment" style="overflow-x: auto;">
    <h4 class="ui dividing header">{{ 'sylius_mollie_plugin.ui.subscription.schedule.block_name'|trans }}</h4>
    {% include '@SyliusMolliePlugin/Admin/MollieSubscription/Show/_subscriptionSchedule.html.twig' %}
</div>
