{% set errorStatus = constant('SyliusMolliePlugin\\Creator\\ApiKeysTestCreatorInterface::ERROR_STATUS') %}

<div class="ui segment">
    {% include '@SyliusMolliePlugin/Admin/PaymentMethod/_statusTest.html.twig' %}

    {% if test.status == errorStatus %}
        {{ test.message }}
    {% endif %}
    <br>
    <i class="cog icon green"></i>
    {{ 'sylius_mollie_plugin.ui.available_methods'|trans }}:
    {% for method in test.methods %}
        {{ method.description }},
    {% endfor %}
</div>
