<div class="ui segment">
    {% include '@BitBagSyliusMolliePlugin/Admin/PaymentMethod/_statusTest.html.twig' %}

    {% if test.key == false %}
        {{ 'bitbag_sylius_mollie_plugin.ui.inser_you_key_first'|trans }}
    {% endif %}

    {{ 'bitbag_sylius_mollie_plugin.ui.available_methods'|trans }}:
    {% for method in test.methods %}
        {{ method.description }},
    {% endfor %}
</div>
