{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

{% if unitPromotionTotalVoucher %}
    <div class="ui warning message">
        <i class="close icon"></i>
        <div class="header">
            {{ 'bitbag_sylius_mollie_plugin.ui.warning'|trans }}
        </div>
        {{ 'bitbag_sylius_mollie_plugin.ui.warning_voucher_info'|trans }}
        {{ money.format((order.getItemsTotal + order.getShippingTotal) - order_refunded_total(order.number), order.currencyCode) }}
    </div>
{% endif %}
