/public/assets
/public/css
/public/js
/public/media/*
!/public/media/image/
/public/media/image/*
!/public/media/image/.gitignore
/public/bitbag/*
/public/build/*

/node_modules

###> symfony/framework-bundle ###
/.env.*.local
/.env.local
/.env.local.php
/public/bundles
/var/
/vendor/
/bin/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
