{% if data %}
    {% set notice = constant('BitBag\\SyliusMolliePlugin\\Logger\\MollieLoggerActionInterface::NOTICE') %}
    {% set warning = constant('BitBag\\SyliusMolliePlugin\\Logger\\MollieLoggerActionInterface::WARNING') %}
    {% set error = constant('BitBag\\SyliusMolliePlugin\\Logger\\MollieLoggerActionInterface::ERROR') %}

    {% if data == notice %}
        <div class="ui info horizontal label">{{'bitbag_sylius_mollie_plugin.ui.info'|trans}}</div>
    {% elseif data == warning %}
        <div class="ui yellow horizontal label">{{'bitbag_sylius_mollie_plugin.ui.warning'|trans}}</div>
    {% elseif data == error %}
        <div class="ui red horizontal label">{{'bitbag_sylius_mollie_plugin.ui.error'|trans}}</div>
    {% endif %}
{% endif %}
