{% for key, methodMollie in mollie_payment_options %}
    {% if key == 'molliePaymentMethods' and methodMollie.vars.choices|length > 0 %}
		<div class="item">
			<div class="field">
				<div class="ui radio checkbox">
					{{ form_widget(form, { 'attr': { 'class': 'mollie-payments' } }) }}
				</div>
			</div>
			<div class="content">
				<a class="header">{{ form_label(form) }}</a>
				{% if method.description is not null %}
					<div class="description">
						<p>{{ method.description }}</p>
					</div>
				{% endif %}
				{% include '@BitBagSyliusMolliePlugin/Shop/PaymentMollie/_form.html.twig' with {'gatewayConfig': method.gatewayConfig} %}
			</div>
		</div>
	{% endif %}
{% endfor %}
