{% set mollieFactoryName = constant('SyliusMolliePlugin\\Factory\\MollieGatewayFactory::FACTORY_NAME') %}
{% set mollieRecurringFactoryName = constant('SyliusMolliePlugin\\Factory\\MollieSubscriptionGatewayFactory::FACTORY_NAME') %}

<div class="ui segment">
    <div class="ui dividing header">{{ 'sylius.ui.payment'|trans }} #{{ loop.index }}</div>
    <div class="ui fluid stackable items">
        {% set isRendered = false %}

        {% for key, choice_form in form.method %}
            {% if form.method.vars.choices[key].data.gatewayConfig.factoryName in [mollieFactoryName, mollieRecurringFactoryName] %}
                {% if not isRendered %}
                    {{ form_row(form.details.cartToken) }}
                    {% set isRendered = true %}
                {% endif %}
                {% include '@SyliusShop/Checkout/SelectPayment/_choiceMollie.html.twig' with {
                    'form': choice_form,
                    'method': form.method.vars.choices[key].data,
                    'mollie_payment_options': form.details
                } %}
            {% else %}
                {% include '@SyliusShop/Checkout/SelectPayment/_choice.html.twig' with {
                    'form': choice_form,
                    'method': form.method.vars.choices[key].data,
                    'mollie_payment_options': form.details
                } %}
            {% endif %}
        {% else %}
            {% include '@SyliusShop/Checkout/SelectPayment/_unavailable.html.twig' %}
        {% endfor %}
    </div>
</div>
