{% if data %}
    {% set notice = constant('SyliusMolliePlugin\\Logger\\MollieLoggerActionInterface::NOTICE') %}
    {% set error = constant('SyliusMolliePlugin\\Logger\\MollieLoggerActionInterface::ERROR') %}

    {% if data == notice %}
        <div class="ui info horizontal label">{{'sylius_mollie_plugin.ui.info'|trans}}</div>
    {% elseif data == error %}
        <div class="ui red horizontal label">{{'sylius_mollie_plugin.ui.error'|trans}}</div>
    {% endif %}
{% endif %}
