<tr id="mollie-paymentFee-row">
    <td colspan="1">
        <strong>{{ 'sylius_mollie_plugin.ui.payment_fee'|trans }}</strong>
    </td>
    <td colspan="2" id="mollie-paymentFee-total" class="right aligned">
        {{ paymentFee }}
    </td>
</tr>
