<tr id="bitbag-paymentFee-row">
    <td colspan="1">
        <strong>{{ 'bitbag_sylius_mollie_plugin.ui.payment_fee'|trans }}</strong>
    </td>
    <td colspan="2" id="bitbag-paymentFee-total" class="right aligned">
        {{ paymentFee }}
    </td>
</tr>
