{% set state_to_colors_map = {
    pending: 'violet',
    fail: 'red',
    ok: 'green'
} %}
{% set state_to_icons_map = {
    pending: 'sync',
    fail: 'stop circle',
    ok: 'check'
} %}
<span class="ui label {{ state_to_colors_map[data] | default('grey') }}{% if attached is defined and attached == true %} top attached{% endif %}">
    <i class="icon {{ state_to_icons_map[data] | default('exclamation') }}"></i>
    {{ ('sylius_mollie_plugin.ui.subscription.payment_state.' ~ data) | trans }}
</span>
