{% set state_to_colors_map = {
    new: 'teal',
    active: 'blue',
    paused: 'violet',
    processing: 'violet',
    canceled: 'red',
    completed: 'green'
} %}
{% set state_to_icons_map = {
    new: 'eye',
    active: 'forward',
    paused: 'pause',
    processing: 'sync',
    canceled: 'stop circle',
    completed: 'check'
} %}
<span class="ui label {{ state_to_colors_map[data] | default('grey') }}{% if attached is defined and attached == true %} top attached{% endif %}">
    <i class="icon {{ state_to_icons_map[data] | default('exclamation') }}"></i>
    {{ ('bitbag_sylius_mollie_plugin.ui.subscription.state.' ~ data) | trans }}
</span>
