{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% if options.link.url is defined %}
    {% set path = options.link.url %}
{% else %}
    {% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('show')), options.link.parameters|default({'id': data.id}))) %}
{% endif %}

{% set factoryName = constant('SyliusMolliePlugin\\MollieSubscriptionGatewayFactory::FACTORY_NAME') %}

{#{% set subscriptionMollie = subscription_mollie_repository.findOneByOrderId(data.id) %}#}

{#{% if subscriptionMollie is not null and sm_can(subscriptionMollie, 'cancel', 'mollie_subscription') %}#}
{#    <form#}
{#            action="{{ path }}"#}
{#            method="post"#}
{#            novalidate#}
{#    >#}
{#        <input type="hidden" name="_method" value="PUT">#}
{#        <input type="hidden" name="_csrf_token" value="{{ csrf_token(subscriptionMollie.id) }}" />#}
{#        <button class="ui yellow labeled icon loadable button" type="submit">#}
{#            <i class="icon ban"></i>#}
{#            {{ action.label|default('sylius_mollie_plugin.ui.cancel_subscription')|trans }}#}
{#        </button>#}
{#    </form>#}
{#{% endif %}#}
