<span class="ui label {{ data ? 'blue' : 'red' }}">
    <i class="{{ data ? 'check circle outline' : 'times circle outline'}} icon"></i>
    {{ (data ? 'sylius.ui.yes_label' : 'sylius.ui.no_label') | trans }}
</span>
