<!DOCTYPE html>
{% set mollie = constant('BitBag\\SyliusMolliePlugin\\Factory\\MollieGatewayFactory::FACTORY_NAME') %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Sylius{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>

<body class="pushable">
<div class="ui sidebar vertical inverted menu visible left" id="sidebar">
    {% block sidebar %}
    {% endblock %}
</div>

<div class="ui borderless fixed menu">
    {% block topbar %}
    {% endblock %}
</div>

{% if payment_method is defined and payment_method.gatewayConfig.factoryName == mollie %}
    <nav
        aria-hidden="false"
        aria-label="onboarding wizard"
        class="onboardingWizard-nav d-none"
        role="navigation"
    >
        <div class="onboardingWizard-logo">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="60px"
                height="60px"
                viewBox="0 0 60 60"
                version="1.1"
            >
                <g fill="#000">
                    <path d="M 0 30 C 0 13.429688 13.429688 0 30 0 C 46.570312 0 60 13.429688 60 30 C 60 46.566406 46.570312 60 30 60 C 13.429688 60 0 46.566406 0 30 Z M 0 30 "/>
                    <path fill="#fff" d="M 47.117188 29.019531 L 47.113281 29.019531 C 47.113281 23.722656 42.957031 19.296875 37.679688 19.144531 C 34.714844 19.058594 31.878906 20.332031 29.964844 22.601562 C 28.1875 20.496094 25.535156 19.148438 22.566406 19.148438 C 17.21875 19.148438 12.882812 23.488281 12.882812 28.855469 L 12.882812 41.226562 L 17.390625 41.226562 L 17.390625 29.019531 C 17.390625 26.164062 19.71875 23.761719 22.5625 23.789062 C 25.351562 23.824219 27.597656 26.089844 27.621094 28.886719 L 27.621094 41.226562 L 32.253906 41.226562 L 32.253906 28.992188 C 32.253906 26.148438 34.578125 23.746094 37.417969 23.769531 C 40.203125 23.800781 42.453125 26.058594 42.488281 28.855469 L 42.488281 41.226562 L 47.117188 41.226562 Z M 47.117188 29.019531 "/>
                </g>
            </svg>
        </div>
        <ul>
            <li class="onboardingWizard-nav-item active last" data-navigation-step="intro">
                <i class="icon check circle"></i>
                Intro
            </li>
            <li><i class="icon angle right"></i></li>
            <li class="onboardingWizard-nav-item" data-navigation-step="api-settings">
                <i class="icon check circle"></i>
                API settings
            </li>
            <li><i class="icon angle right"></i></li>
            <li class="onboardingWizard-nav-item" data-navigation-step="store-settings">
                <i class="icon check circle"></i>
                Store settings
            </li>
            <li><i class="icon angle right"></i></li>
            <li class="onboardingWizard-nav-item" data-navigation-step="payment-settings">
                <i class="icon check circle"></i>
                Payment settings
            </li>
        </ul>
    </nav>
{% endif %}

<div class="pusher">
    <div class="full height" id="wrapper">
        <div id="content">
            {% block flash_messages %}
                {% include '@SyliusUi/_flashes.html.twig' %}
            {% endblock %}

            {% block pre_content %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block post_content %}
            {% endblock %}
        </div>

        <div class="sylius-footer">
            {% block footer %}
            {% endblock %}
        </div>
    </div>
</div>


{% include '@SyliusUi/Modal/_confirmation.html.twig' %}

{% block javascripts %}
{% endblock %}
</body>
</html>
